<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rest0rent</title>
  </head>
  <body>
    <nav class="nav">
      <!-- Navigation Bar -->
      <div class="navWrapper">
        <p>Rest0rent</p>
        <ul class="navList" id="drawer">
          <li class="navItem"><a href="/">Home</a></li>
          <li class="navItem"><a href="#">Favorite</a></li>
          <li class="navItem"><a href="#">About Us</a></li>
        </ul>
        <button id="hamburgerMenu" class="hamburger">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
            />
          </svg>
        </button>
      </div>
    </nav>

    <main>
      <!-- Main Content -->
      <section id="hero">
        <!-- Start of the Hero section -->
        <img
          src="./images/heros/hero-image_1.jpg"
          alt="Chef preparing sushi with carefulness"
        />
        <h1>Some Text</h1>
        <button>Click me!</button>
        <!-- End of the Hero section -->
      </section>
      <section id="article">
        <!-- Start of the Article section -->
        <article>
          <!-- Article Card -->
        </article>
        <!-- End of the Article section -->
      </section>
    </main>

    <footer>
      <!-- Footer -->
    </footer>
  </body>
</html>
